
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    text-align: center;
    display: flex;
    align-items: center;
   
    justify-content: center;background-color: rgba(0, 0, 0, 0.747);
    padding: 20px;
    color: white;
} nav button, .container button{width: 110px;
    height: 50px;
    margin-left: 20px; border-radius: 10px;}
.container{
    margin-top: 20px;
    background-image: url("https://images.unsplash.com/photo-1511548774318-563182fe8d03?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9udHxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
text-align: center;
width: 100%;
height: 580px;
background-color: rgba(127, 255, 212, 0.178);
}
.container .put .input1{
    flex-direction: column;
    width:100%;
    justify-content: center;
padding: 1px;
display: flex;

}
.container .put .input1 label{
    margin-left: -80px;
}
.container .put{
    display: flex;
   margin-top: 20px;
   margin-left: 400px;
   width: 400px;
}
.container .put .input1 input{
    padding: 7px;
}
.container .autre{

    margin-top: 20px;
    margin-left: 400px;
    width: 400px;
 text-align: left;
}
.container .autre p,.container .autre #id{    padding-bottom: 10px;}
.container .autre input{
    padding-right: 400px;
height: 40px;
}